.App{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #E6E6E6;
    display: block;
    font-size: 130%;
}

.mainContainer{
    display: block;
    text-align: center;
    width: 100%;
    height: 90%;
    overflow: auto;
}

.last{
    padding-bottom: 10vh;
}

.fillScreen{
    height: 100%;
}

.section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: column;
    overflow: show;
}

.textField{
    width: fit-content;
    height: fit-content;
    min-width: 20%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: auto;
}

.button{
    width: fit-content;
    min-width: 10%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    background-color: #1E5F74;
    color: #E6E6E6;
    -webkit-appearance: none;
}

.deleteButton{
    background-color: #900d0d;
}

.inline-flex{
    display: inline-flex;
    flex-wrap: wrap;
}

img{
    height: 50px;
    margin:auto;
}

ul{
    text-align: left;
    width: fit-content;
    margin: 0 auto;
}

p{
    text-align: center;
}

.center{
    margin: 10px auto;
}

@media (prefers-color-scheme: dark) {
    .App{
        background-color: black;
        color: #E6E6E6;
    }

    .textField{
        background-color: black;
        border: 1px solid grey;
        color: white;
    }
}