.navBar{
    height: 10%;
    width: 100%;
    position: fixed;
    padding: 15px 0 15px 0;
    bottom: 0;
    background-color: #1E5F74;
    display: inline-flex;
    justify-content: space-between;
}

.navContainer{
    height: fit-content;
    width: 90%;
    max-width: 600px;
    position: relative;
    margin: auto;
    display: inline-flex;
    justify-content: space-between;
}

.navItem{
    height: 50px;
    width: 50px;
    position: relative;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

img{
    display: block;
    height: 100%;
}